{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
   <div class="container d-flex justify-content-center align-items-center mt-5">
    <form action="/login" method="post" class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
        <h3 class="text-center mb-4">Log In</h3>
        
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        
        <button class="btn btn-primary w-100" type="submit">Log In</button>
    </form>
</div>
    {% endblock %}
